/* estils task */
#cap, #principal, #peu{
    background-color: rgb(195, 245, 185);
    border-color:green;
    border-width: 5px;
}
#principal h2{
    width:30%;
    margin: 10px auto;
    padding:20px;
    border:solid 5px yellow;
    color:yellow;
    font-weight: bold;
    text-align:center;
    background-color:black;
}
#principal p{
    width:50%;
    line-height: 35px;
    margin: 10px auto;
    padding:20px;
    border:solid 5px black;
    color:black;
    font-weight: normal;
    text-align:center;
    background-color:rgb(228, 228, 228);
    text-align:justify;
    text-indent: 35px;
}
#principal p::first-letter{
   font-size: 2em;
   font-weight: bold;
   color:red;
}
#menu{
    background-image: linear-gradient(to bottom, green 20%, black 50%);
}